 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-shape-1 {
  height: 342px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  width: 508px;
  height: 508px;
  background-image: url("images/tennis-icon.png");
  background-position: 50% 50%;
  margin: -242px auto 0;
}

.u-section-1 .u-text-1 {
  width: 697px;
  font-size: 3.75rem;
  margin: 40px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  font-size: 1.25rem;
  font-style: normal;
  width: 701px;
  line-height: 2;
  margin: 40px auto 60px;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 451px;
}

.u-section-2 .u-group-1 {
  width: 800px;
  min-height: 331px;
  margin: -29px auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin: 0 auto 0 10px;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0 10px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  margin: 30px auto 0 10px;
  padding: 0;
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 720px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 483px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
    margin-top: -13px;
    margin-bottom: -13px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 400px;
}